.profile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 100px;
    grid-gap: 100px;
}

.fullName {
    font-size: 36px;
    padding: 10px;
    text-align: center;
}
.first__column {
    padding: 0px 30px;
    border-radius: 10px;
    background: #c1bdbd;

}

.first__column img {
    width: 300px;
    height: 300px;
}

.first__column button {
    display: block;
    margin: 0 auto;
    width: 150px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: yellow;
    cursor: pointer;
}

.second__column {
    font-size: 24px;
    border-radius: 10px;
    padding: 20px 100px;
    background: grey;
}

.second__column span {
    font-size: 24px;
    display: block;

}

.aboutMe {
    border-radius: 10px;
    padding: 10px;
    background: #c7c7cc;
}



.contacts {
    border-radius: 10px;
    background: #c7c7cc;
    padding: 0 10px 10px 10px;

}

.contacts__item {
    padding-top: 10px;
}

.second__column span {
    display: block;
    padding: 10px;
}

.statusField {
    border-radius: 10px;
    background: #c7c7cc;

}

.lookingForAJobDesc {
    margin-top: 5px;
    background: #c7c7cc;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.lookingForAJobDescriptionarea input{
    padding: 20px;
}

.formSummaryError {
    padding: 5px;
    color: red;
}

.editSaveBut {
    margin-top: 10px;
    margin-left: 100%;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 15px;
    background: #2f2d2d;

    color: #8f8f15;
}

.label {
    font-size: 19px;
}

.fieldInput input{
    border-radius: 10px;
    font-size: 16px;
    width: 500px;
    padding: 2px 10px;
    background: #e6e6e6;
}

.changePhotoFile {
    padding-top: 5px;
}

.changePhotoText {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
}